{% extends 'base.html' %}

{% block content %}
<style>

</style>


<!-- <div id="wrapper"> -->

    <div id="page-content-wrapper">
       <div class="container-fluid xyz">
          <div class="row">
             <div class="col-lg-12">
                <h1>Students data</a></h1>
				<div class="tab-pane active" id="ho" role="tabpanel">
					<div class="table-responsive mb-1  mt-2">

				<table class="table table-nowrap align-middle"
				id="orderTable">
				<thead class="table-light">
					<tr class="text-uppercase">
						<th scope="col" style="width: 25px;">
							
						</th>
						<th class="sort" data-sort="id">
							id</th>
						<th class="sort"
							data-sort="customer_name">
							Name</th>
						<th class="sort"
							data-sort="product_name">
							Phone
						</th>
						<th class="sort" data-sort="date">Age</th>
						<!-- <th class="sort" data-sort="date">Date
							To</th> -->
						<!-- <th class="sort" data-sort="amount">Amount</th>
									<th class="sort" data-sort="payment">Payment Method</th> -->

						<th class="sort" data-sort="company">
							Email
						</th>
						<th class="sort" data-sort="status">
							Grades</th>
						<!-- <th class="sort" data-sort="action">Action</th> -->
					</tr>
				</thead>
				<tbody class="list form-check-all append_here">
				   
			  {% for i in data %}
					<tr>
						<th scope="row">
							
						</th>
						<td class="id"><a href="#"
								class="fw-medium link-primary">STUD/{{i.id}}</a>
						</td>
						<td class="customer_name">{{i.username}}
						</td>
						<td class="product_name">{{i.phone}}</td>
						<td class="date">{{i.age}}</td>
						<!-- <td class="date">31/03/2022</td> -->
						<td class="company">{{i.email}}</td>
						<td class="status"><span
								class="badge badge-soft-success text-uppercase"><a href="/grade?id_s={{i.id}}"><button id="id_grade">view grades</button></a></span>
						</td>
					</tr> 
					{% endfor %}



					<!-- ** -->
				</tbody>
			</table>
		   
		</div>
		</div>

                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident laudantium nobis cum dignissimos ex inventore, velit blanditiis. Quod laborum soluta quidem culpa officia eligendi, quam, recusandae iste aliquid amet odit! </p> -->
             </div>
          </div>
       </div>
    </div>
    <!-- /#page-content-wrapper -->
 <!-- </div> -->



{% endblock %}