{% extends 'base.html' %}

{% block content %}
<div class="container">
   <h2>my mark sheet</h2>
   <table class="table table-striped">
     <thead>
       <tr>
         <th>subject</th>
         <th>mark</th>
         <th>total mark</th>
         <th>Grade</th>
       </tr>
     </thead>
     <tbody>
        {% for i in data %}
       <tr>
         <td>{{i.subject}}</td>
         <td>{{i.mark}}</td>
         <td>{{i.in_mark}}</td>
         <td>{{i.grade}}</td>
       </tr>
       {% endfor %}
      
     </tbody>
   </table>
 </div>
 


{% endblock %}