{% extends 'base.html' %}

{% block content %}


<div class="container">
  <h2></h2>
  <p></p>
  <form method="POST">{% csrf_token %}
	<div class="form-group">
		<input type="text" class="form-control"  id="pk" name="pk" value="0">
	  </div>
    <div class="form-group">
      <label for="email">Subject:</label>
      <input type="text" class="form-control" id="subject" name="subject">
    </div>
    <div class="form-group">
      <label for="score">score:</label>
      <input type="text" class="form-control" id="score" name="score">
    </div>
    <div class="form-group">
        <label for="tscore">Total score:</label>
        <input type="text" class="form-control" id="tscore" name="tscore">
      </div>
      <div class="form-group">
        <label for="grade">Grade:</label>
        <input type="text" class="form-control" id="grade" name="grade">
      </div>
    
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<div class="tab-pane active" id="ho" role="tabpanel">
					<div class="table-responsive mb-1  mt-2">

				<table class="table table-nowrap align-middle"
				id="orderTable">
				<thead class="table-light">
					<tr class="text-uppercase">
						<th scope="col" style="width: 25px;">
							
						</th>
						<th class="sort" data-sort="id">
							No</th>
						<th class="sort"
							data-sort="customer_name">
							Subject</th>
						<th class="sort"
							data-sort="product_name">
							Score
						</th>
						<th class="sort" data-sort="date">Total score</th>
						<!-- <th class="sort" data-sort="date">Date
							To</th> -->
						<!-- <th class="sort" data-sort="amount">Amount</th>
									<th class="sort" data-sort="payment">Payment Method</th> -->

						<th class="sort" data-sort="company">
							Grade
						</th>
						<th class="sort" data-sort="company">
							edit
						</th>
						<th class="sort" data-sort="company">
							delete
						</th>
						<!-- <th class="sort" data-sort="status">
							Grades</th> -->
						<!-- <th class="sort" data-sort="action">Action</th> -->
					</tr>
				</thead>
				<tbody class="list form-check-all append_here">
				   
			  {% for i in obj %}
					<tr>
						<th scope="row">
							
						</th>
						<td class="id"><a href="#"
								class="fw-medium link-primary">{{forloop.counter}}</a>
						</td>
						<td class="customer_name">{{i.subject}}
						</td>
						<td class="product_name">{{i.mark}}</td>
						<td class="date">{{i.in_mark}}</td>
						<!-- <td class="date">31/03/2022</td> -->
						<td class="company">{{i.grade}}</td>
						<td><button value="{{i.id}}" onclick="gradeedit('{{i.id}}',0)">Edit</button></td>
						<td><button value="{{i.id}}" onclick="gradeedit('{{i.id}}',1)">Delete</button></td>
						<!-- <td class="status"><span
								class="badge badge-soft-success text-uppercase"><a href="/grade?id_s={{i.id}}"><button id="id_grade">view grades</button></a></span>
						</td> -->
					</tr> 
					{% endfor %}



					<!-- ** -->
				</tbody>
			</table>
		   
		</div>
		</div>

<script>
	function gradeedit(Gid,sts){
		data={}
		data['id']=Gid
		data['sts']=sts
		$.ajax({
            type: 'POST',
            url: '/edit-grade',
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            data: data,
            success: function (result) {
				if(result.msg){
					swal("", "successfully deleted!!!", "success")
					.then(() => {
       				 location.reload()
      					});
				}
				else{
				$('#pk').val(result[0].pk)
				$('#subject').val(result[0].fields.subject)
				$('#score').val(result[0].fields.mark)
				$('#tscore').val(result[0].fields.in_mark)
				$('#grade').val(result[0].fields.grade)
				}  
            }
        });

	}
</script>

{% endblock %}
