{% extends 'base.html' %}

{% block content %}
<style>

</style>
this is first page

<div class="container-fluid mt-3 bgclass">
	<div class="row">

		<!-- filter -->

		<!-- <div class="col-lg-3 mx-auto">
			<div class="list-group">

				<a href="/" class="list-group-item list-group-item-action">All Products</a>

				{% for category in categories %}
				<a href="/?category={{category.id}}"
					class="list-group-item list-group-item-action">{{category.name}}</a>
				{% endfor %}
			</div>
		</div> -->

		<!-- all products -->
		<div id='products' class="col-lg-9 mx-auto">
			<div class="row mx-auto">
				{% for product in products %}
				<div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem;">
					<img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
					<div class="card-body">
						<p class="card-title">{{product.name}}</p>
						<p class="card-text"><b>{{product.price}}</b></p>
						<!-- <p class="card-text"><b>{{product.description}}</b></p> -->
						<div class="btn-group" role="group" aria-label="Basic example">
							<button type="button" class="btn btn-outline-success">Shop now</button>
							<button type="button" class="btn btn-outline-info">Add to cart</button>
						        </div>
						<!-- <p class="card-text"><button>Add to cart</button></p>
						<p class="card-text"><button>Shop now</button></p> -->
					</div>

					<div class="card-footer p-0 no-gutters">

						

					</div>

				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>



{% endblock %}