{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load custom_filter %}
<style>
 /* common label – first for file choose button, then for submit button */
.uploadbutton {
   margin-right: 25px;
   border: 1px solid #000;
   padding: 6px 15px 6px 15px;
   border-radius: 20px;
   cursor: default;
   color: #000;
   text-align: center;
   font-size: 15px;
}

</style>
<section style="background-color: #eee;">
    <div class="container py-5">
      
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="{{data.image.url}}" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{data.first_name}}</h5>
              <p class="text-muted mb-1"><b>role-{{data.user_type}}</b></p>
              <p class="text-muted mb-4">{{data.email}}</p>
              {% if request.session.user_type == 'Student' %}
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Edit</button>
              </div>
              
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-primary" id="choose">Change profile pic</button>
              </div>
              {% endif %}
              <div class="d-flex justify-content-center mb-2">
                
                <div id="edit_upload" style="display:none">
                  <form method="post" action="/change_img" enctype="multipart/form-data">{% csrf_token %}
                    <label for="file1" class="uploadbutton" id="label1">Choose File</label>
                    <input type="file" id="file1" name="file1" style="display:none"/>
                    <input type="submit" id="submit1" style="display:none"/>
                   
                    <div class="col-sm-9">
                      <input type="hidden" name="edit_id" id="edit_id" class="text-muted mb-0" value=" {{data.id}}" >
                    </div>
                </form>
                </div>
                <!-- <label class="form-label" for="customFile">Default file input example</label> -->
               
              </div>
            </div>
          </div>
        
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{data.first_name}} {{data.last_name}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{data.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{data.phone}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">role</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{data.user_type}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">date of birth</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{data.dob}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Username</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{data.username}}</p>
                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </section>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="model_form" method="post" action="/editprofile"> {% csrf_token %}

          <div class="modal-body">
            <div class="card mb-4">
              <div class="card-body">
                
                  <div class="col-sm-9">
                    <input type="hidden" id="edit_id" class="text-muted mb-0" value="{{data.id}}" >
                  </div>
                
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Full Name</p>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" class="text-muted mb-0" value="{{data.first_name}}" id="edit_first_name">
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Last name</p>
                  </div>
                  <div class="col-sm-9">
                    <input type="text" class="text-muted mb-0" value="{{data.last_name}}" id="edit_last_name">
                  </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="text-muted mb-0" id="edit_email" value="{{data.email}}">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Phone</p>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="text-muted mb-0" id="edit_phone" value="{{data.phone}}">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">role</p>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="text-muted mb-0" value="{{data.user_type}}" readonly>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">dob</p>
                    </div>
                    <div class="col-sm-9">
                      <input type="date" class="text-muted mb-0" id="edit_dob" value="{{data.dob|safe}}" }>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Username</p>
                    </div>
                    <div class="col-sm-9">
                      <input type="text" class="text-muted mb-0" value="{{data.username}}" readonly>
                    </div>
                  </div>
<hr>
                  <!-- <div class="media-container">
                    <span class="media-overlay">
                      <input type="file" id="media-input" accept="image/*">
                      <i class="an an-write media-icon"></i>
                    </span>
                    <figure class="media-object">
                      <img class="img-object" src="{{data.image.url}}">
                    </figure>
                  </div>
                  <div class="media-control">
                    <button class="btn edit-profile">
                      <i class="an an-write"></i>Edit Image</button>
                    <button class="btn save-profile">
                      <i class="an an-save"></i>Save image</button>
                  </div>
                 -->
                
                
              </div>
            </div>
           
          
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary" >Save changes</button>
    </div>

        </form>
        
      </div>
    </div>
  </div>
<script>
  $("#choose").click(function(){
    document.getElementById("edit_upload").style.display = "block";
    document.getElementById("choose").style.display = "none";
  })
$("#file1").change(function () {
   if ($("#file1").val() == "") {
      alert("No file selected");
   }
   else {
      // File chosen
      var fileChooseBtn = document.getElementById("label1");
      fileChooseBtn.removeAttribute("for");
      fileChooseBtn.setAttribute("for","submit1");
      fileChooseBtn.setAttribute("style", "background-color:gray");
      fileChooseBtn.innerHTML="Upload";
   }
});     // The next click on the label will submit the form

$('#model_form').on('submit', function(e){
        e.preventDefault();
        data={}
        data['firstname']=$('#edit_first_name').val()
        data['lastname']=$('#edit_last_name').val()
        data['email']=$('#edit_email').val()
        data['phone']=$('#edit_phone').val()
        data['dob']=$('#edit_dob').val()
        data['id']=$('#edit_id').val()


        $.ajax({
            url:' /editprofile', //this is the submit URL
            type: 'GET', //or POST
            data:data,
            // data: $('#subscribe-email-form').serialize(),
            success: function(data){
              swal("", "successfully submitted!!!", "success")
					.then(() => {
       				 location.reload()
      					});
                //  alert('successfully submitted')
            }
        });
    });
</script>
{% endblock %}