{% extends 'base.html' %}


{% block content %}
{% load static %}

<style>/* Clear floats */
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
    
/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 100%;
}

    </style>

<div class="container mt-4">
    
    <div class="p-4 m-4">

        
        <div class="col-lg-5 rounded mx-auto border pt-4">
            <div class="text-center col">
                <!-- <img src="{% static 'my_app/example.jpg' %}" alt="My image"> -->
                <!-- <div id="img_"></div> -->
                <img 
                src="{% static 'images/admin.png' %}" id="my_image1"
                class="" style="height: 150px;">
                <img 
                src="{% static 'images/STUD.png' %}" id="my_image2"
                class="" style="height: 150px;" >
            <!-- <hr> -->
            <div class="display-8">Create An Account as <span id="span1">admin</span></div>
            <hr>
            </div>
            <h3 hidden class="alert alert-light border rounded">Create Account</h3>
            <form  method="POST" id="signupform" enctype="multipart/form-data"> {% csrf_token %}

                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                <!-- firstname -->
                <div class="form-group">
                    <label for="">First name</label>
                    <input type="text" name="fname"
                     id="fname"  class="form-control form-control-sm" 
                     placeholder="">
                </div>
                <div class="form-group">
                    <label for="">Last Name</label>
                    <input type="text" name="lname"
                     id="lname"  class="form-control form-control-sm" 
                     placeholder="">
                </div>
                <div class="form-group">
                    <label for="">Username</label>
                    <input type="text" name="uname"
                     id="uname"  class="form-control form-control-sm" 
                     placeholder="">
                </div>

                <!-- last name -->
                <div class="form-group">
                    <label for="">DOB</label>
                    <input type="date" name="dob" 
                    id="dob"  class="form-control form-control-sm"
                    >
                </div>

                <!-- phone -->
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" name="phone" 
                    id="phone" class="form-control form-control-sm"
                    >
                </div>
                <!-- email -->
                <div class="form-group">
                    <label for="">Email</label>
                    <input required type="email" name="email" id="email" 
                    class=" form-control-sm form-control" >
                </div>
                <div class="form-group">
                    <label for="">Profile pic</label>
                    <input required type="file" name="pro_pic" id="pro_pic" accept="image/*"
                    class=" form-control-sm form-control"  >
                </div>

                <!-- password -->
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" 
                    name="password" 
                    id="password"
                     class="form-control form-control-sm" placeholder="********">
                </div>

                <hr>
                <div class="form-group">
                    <input type="hidden" id="id_hidden" name="hidden" value="0">
                    <button type="button" id="submit_btn" onclick="SubmitFunction()">submit</button>
                    <!-- <input class="btn btn-sm btn-info" type="submit" value="Create Account "> -->
                </div>
                <div class="clearfix">
                    <button type="button" id="stud" class="cancelbtn">sign up as <span id="span2">student</span></button>
                    <!-- <button type="submit" class="signupbtn">Sign Up</button> -->
                  </div>
                
            </form>
        </div>
    </div>
</div>
<script>
    $("#my_image2").hide();
    $("#stud").click(function(){
        document.getElementById('signupform').reset();
        var hid_value=$("#id_hidden").val()
        if (hid_value == 0){
            $("#id_hidden").val('1')
            $("#span1").text("student")
            $("#span2").text("Admin")
            // $("#my_image1").show();
            // $("#my_image2").hide();
            
        }
        else{
            $("#id_hidden").val('0')
            $("#span2").text("student")
            $("#span1").text("Admin")
            // $("#my_image1").hide();
            // $("#my_image2").show();

        }
    })
//     $( document ).ready(function() {
//         $( "#stud" ).trigger( "click" );
// });


// $("#submit_btn").rules("add", {
//         accept: "jpg|jpeg|png|ico|bmp"
//     });
function SubmitFunction(){
    
   first_name=$("#fname").val()
   last_name=$("#lname").val()
   user_name=$("#uname").val()
   dob=$("#dob").val()
   phone=$("#phone").val()
   email=$("#email").val()
   img=document.getElementById("pro_pic").files.length
   if (img!=0){
    img2=document.getElementById("pro_pic").files[0].size
   }
   
   password=$("#password").val()
   var regularExpression = /^(?=.*[0-9])(?=.*[- ?!@#$%^&*\/\\])(?=.*[A-Z])(?=.*[a-z])[a-zA-Z0-9- ?!@#$%^&*\/\\]{8,30}$/;
   err_msg=true
    if(first_name=='' || last_name==''|| user_name==''|| dob==''|| phone==''|| email==''|| img==0){
        swal("", "please fill all form fields", "info");
        err_msg=false
    }
   else if(password.length<8 || !regularExpression.test(password)){
    swal("", "password must be 8 digits long and must include uppercase,lowercase,numbers and and", "info");

        err_msg=false
   }
   else if(img2.size> 2000000){
    swal("", "image size must be less than 2 mb", "info");

        err_msg=false
   }
   else{
       $("#signupform").submit()
   }
    
}
</script>
{% endblock %}